body{
	color: rgb(72, 104, 74);
}

.remote_button{
	background-color: rgb(212, 246, 186);
	border-radius:0.5em;
	color: rgb(8, 83, 20);
	font-size:2em;
	margin: 0.3em;
        padding: 0.5em;
}

.selected_text{
	color: rgb(59, 107, 14);
	font-size: 1.5em;
	font-weight: bold;
}

.span_spaces{
	padding-right: 1em;
}

#list_videos,#list_subtitles{
	border-style: solid;
    	border-width: 1px;
}
